<% include ../partials/header %> 

<h1>Notifications</h1>

<ul>
	<% allNotifications.forEach(function(notification) { %>
	<li>
		<a href="/campgrounds/<%= notification.campgroundId %>">
			<strong><%= notification.username %></strong> <em>created a new campground</em>
		</a>
	</li>
	<% }); %>
</ul>

<% include ../partials/footer %> 