<% include ../partials/header%>
    <header class="jumbotron">
        <div class="container">
            <h1>This is the campgrounds page!</h1>
            <p>View our hand picked campgrounds</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground</a>
            </p>
            <p>
                <form class="form-inline" action="/campgrounds" method="GET">
                    <div class="form-group">
                        <input class="form-control" type="text" name="search" placeholder="campground search">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Search</button>
                    </div>
                </form>
            </p>
        </div>
    </header>
    
    <div class="row text-center"> <!-- determines minimum space needed in order to makes rows-->
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4"> <!-- margin bottom -->
                <div class="card">
                    <img class="card-img-top md-img" src="<%=campground.image%>" alt="<%= campground.name %>">
                    <div class="card-body">
                        <h5 class="card-title"><%=campground.name%></h5>
                        <% if (campground.rating === 0) { %>
                        <em>No reviews yet.</em>
                        <% } else { %>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                        <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                        <% } %>
                        <a href="/campgrounds/<%=campground._id %>" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
<% include ../partials/footer%>